# Q1. Extract data of Toronto neighborhoods from Wikipedia, clean and display the top 11 rows along with shape head
Import Libraries Use pandas, or the BeautifulSoup package, or any other way you are comfortable with to transform the data in the table on the Wikipedia page into the above pandas dataframe.

In [1]:
from bs4 import BeautifulSoup
import requests
!pip install numpy
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim
import folium
import json
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors

Requirement already satisfied: numpy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (1.20.3)

In [11]:
url = requests.get('https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=995657573').text
soup = BeautifulSoup(url,'lxml')

In [12]:
table_post = soup.find('table')
fields = table_post.find_all('td')

postcode = []
borough = []
neighbourhood = []

for i in range(0, len(fields), 3):
    postcode.append(fields[i].text.strip())
    borough.append(fields[i+1].text.strip())
    neighbourhood.append(fields[i+2].text.strip())
        
df = pd.DataFrame(data=[postcode, borough, neighbourhood]).transpose()
df.columns = ['Postcode', 'Borough', 'Neighbourhood']
df.head()

  Postcode           Borough              Neighbourhood
0      M1A      Not assigned               Not assigned
1      M2A      Not assigned               Not assigned
2      M3A        North York                  Parkwoods
3      M4A        North York           Victoria Village
4      M5A  Downtown Toronto  Regent Park, Harbourfront

In [13]:
df['Borough'].replace('*Not assigned', np.nan, inplace=True)
df.dropna(subset=['Borough'], inplace=True)
df['Borough'].replace('*Not assigned', np.nan, inplace=True)
df.dropna(subset=['Borough'], inplace=True)

In [14]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.columns = ['Postcode', 'Borough', 'Neighbourhood']
df

    Postcode       Borough                                      Neighbourhood
0        M1A  Not assigned                                       Not assigned
1        M1B   Scarborough                                     Malvern, Rouge
2        M1C   Scarborough             Rouge Hill, Port Union, Highland Creek
3        M1E   Scarborough                  Guildwood, Morningside, West Hill
4        M1G   Scarborough                                             Woburn
..       ...           ...                                                ...
175      M9V     Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
176      M9W     Etobicoke                Northwest, West Humber - Clairville
177      M9X  Not assigned                                       Not assigned
178      M9Y  Not assigned                                       Not assigned
179      M9Z  Not assigned                                       Not assigned

[180 rows x 3 columns]

In [18]:
df.shape

(103, 3)

In [19]:
df['Borough'].replace('Not assigned', np.nan, inplace=True)
df.dropna(subset=['Borough'], inplace=True)

In [23]:
df.loc[df['Postcode'] == 'M5A']

   Postcode           Borough              Neighbourhood
80      M5A  Downtown Toronto  Regent Park, Harbourfront

In [22]:
df.head(11)

   Postcode      Borough                                      Neighbourhood
1       M1B  Scarborough                                     Malvern, Rouge
2       M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
3       M1E  Scarborough                  Guildwood, Morningside, West Hill
4       M1G  Scarborough                                             Woburn
5       M1H  Scarborough                                          Cedarbrae
6       M1J  Scarborough                                Scarborough Village
7       M1K  Scarborough        Kennedy Park, Ionview, East Birchmount Park
8       M1L  Scarborough                    Golden Mile, Clairlea, Oakridge
9       M1M  Scarborough    Cliffside, Cliffcrest, Scarborough Village West
10      M1N  Scarborough                        Birch Cliff, Cliffside West
11      M1P  Scarborough  Dorset Park, Wexford Heights, Scarborough Town...